* {
    padding: 0px;
    margin: 0px;
    /* color: white; */
    font-family: 'Times New Roman', Times, serif;
}

div {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
}

#box2 {
    position: relative;
    top: 10px;
    left: 10px;
}

#box3 {
    position: absolute;
    top: 5px;
}

#box4 {
    position: sticky;
    top:0
}