body {
    text-align: center;
}

#container {
    border: 3px solid rgb(131, 88, 88);
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: end;
}

div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: grey;
    height: 200px;
}

#box3 {
    background-color: cyan;
}

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: green;
}