#outer-div {
  width: 150px;
  height: 150px;
  margin: 200px 400px;
  background-color: white;
  border-radius: 50%;
  border: 20px solid #ffe66d;
  border-top: 20px solid #4ecdc4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in; */
  animation: loader-animation 1.5s ease-in-out 0.5s infinite normal;
}

@keyframes loader-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
